In [1]:
%load_ext sql

In [2]:
host = 'localhost'
database = 'postgres'
user = 'postgres'
password = 'docker'

connection_string = f'postgresql://{user}:{password}@{host}/{database}'
print(connection_string)

%sql $connection_string

postgresql://postgres:docker@localhost/postgres

In [4]:
%%sql

drop table if exists geometries;
CREATE TABLE geometries (name varchar, geom geometry);

INSERT INTO geometries VALUES
  ('Point', 'POINT(0 0)'),
  ('Linestring', 'LINESTRING(0 0, 1 1, 2 1, 2 2)'),
  ('Polygon', 'POLYGON((0 0, 1 0, 1 1, 0 1, 0 0))'),
  ('PolygonWithHole', 'POLYGON((0 0, 10 0, 10 10, 0 10, 0 0),(1 1, 1 2, 2 2, 2 1, 1 1))'),
  ('Collection', 'GEOMETRYCOLLECTION(POINT(2 0),POLYGON((0 0, 1 0, 1 1, 0 1, 0 0)))');

SELECT name, ST_AsText(geom) FROM geometries;

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
5 rows affected.
5 rows affected.

[('Point', 'POINT(0 0)'),
 ('Linestring', 'LINESTRING(0 0,1 1,2 1,2 2)'),
 ('Polygon', 'POLYGON((0 0,1 0,1 1,0 1,0 0))'),
 ('PolygonWithHole', 'POLYGON((0 0,10 0,10 10,0 10,0 0),(1 1,1 2,2 2,2 1,1 1))'),
 ('Collection', 'GEOMETRYCOLLECTION(POINT(2 0),POLYGON((0 0,1 0,1 1,0 1,0 0)))')]

**The geometry types**

In [8]:
%sql select 'POINT(0 0)'::geometry;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('010100000000000000000000000000000000000000',)]

In [14]:
%sql select 'LINESTRING(0 0, 1 1, 2 1, 2 2)'::geometry;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('01020000000400000000000000000000000000000000000000000000000000F03F000000000000F03F0000000000000040000000000000F03F00000000000000400000000000000040',)]

In [15]:
%sql select 'POLYGON((0 0, 1 0, 1 1, 0 1, 0 0))'::geometry;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('0103000000010000000500000000000000000000000000000000000000000000000000F03F0000000000000000000000000000F03F000000000000F03F0000000000000000000000000000F03F00000000000000000000000000000000',)]

In [16]:
%sql select 'POLYGON((0 0, 10 0, 10 10, 0 10, 0 0),(1 1, 1 2, 2 2, 2 1, 1 1))'::geometry;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('01030000000200000005000000000000000000000000000000000000000000000000002440000000000000000000000000000024400000000000002440000000000000000000000000000 ... (56 characters truncated) ... 0F03F000000000000F03F000000000000F03F0000000000000040000000000000004000000000000000400000000000000040000000000000F03F000000000000F03F000000000000F03F',)]

In [17]:
%sql select 'GEOMETRYCOLLECTION(POINT(2 0),POLYGON((0 0, 1 0, 1 1, 0 1, 0 0)))'::geometry;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('0107000000020000000101000000000000000000004000000000000000000103000000010000000500000000000000000000000000000000000000000000000000F03F0000000000000000000000000000F03F000000000000F03F0000000000000000000000000000F03F00000000000000000000000000000000',)]