In [2]:
%load_ext sql

In [3]:
connection_string = f'postgresql://postgres:docker@localhost/postgres'
%sql $connection_string

**1. ST_Equals**

The two geometry objects are exactly equal

In [20]:
%sql select public.ST_Equals('POLYGON((0 0, 0 2, 2 2, 2 0, 0 0))', 'POLYGON((0 0, 0 2, 2 2, 2 0, 0 0))') as Eequals;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(True,)]

**2. ST_Intersects**

The two geometry objects have anything in common

In [19]:
%sql select public.ST_Intersects('POLYGON((0 0, 0 2, 2 2, 2 0, 0 0))', 'POINT(0 0)') as Intersects;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(True,)]

**3. ST_Disjoint**

The two geometry objects have nothing in common

In [24]:
%sql select public.ST_Disjoint('POLYGON((0 0, 0 2, 2 2, 2 0, 0 0))', 'POINT(0 3)') as Disjoint;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(True,)]

**4. ST_Crosses**

Returns t (TRUE) if
1. the intersection results in a geometry whose dimension is one less than the maximum dimension of the two source geometries
2. the intersection set is **interior** to both source geometries

*Always false if one object is a POINT*

In [30]:
line1 = 'LINESTRING(-1 0, 1 0)'
line2 = 'LINESTRING(0 -1, 0 1)'
sql = f"select public.ST_Crosses('{line1}', '{line2}') as Crosses;"

%sql $sql

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(True,)]

**5. ST_Overlaps**

Returns TRUE if their intersection set results in a geometry **different from both** but of the **same dimension**

*Always false if one object is a POINT*

In [32]:
line1 = 'LINESTRING(0 0, 0 2)'
line2 = 'LINESTRING(0 1, 0 3)'
sql = f"select public.ST_Overlaps('{line1}', '{line2}') as Overlaps;"

%sql $sql

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(True,)]

**6. ST_Touches**

Returns t (TRUE) if
1. the two geometries touch at their boundaries
2. but **do not** intersect in their interiors

In [36]:
%sql select ST_Touches('POINT(0 0)', 'LINESTRING(0 0, 0 2, 2 2)') as Touches;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(True,)]

**7. ST_Within**

**ST_Within** and **ST_Contains** test whether one geometry is **fully** within the other

In [39]:
%sql select ST_Within('POINT(0 1)', 'LINESTRING(0 0, 0 2)') as Within;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(True,)]

**8. ST_Contains**

ST_Contains is the exact opposite of the ST_Within

In [41]:
%sql select ST_Contains('LINESTRING(0 0, 0 2)', 'POINT(0 1)') as Contains;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(True,)]

**9. ST_Distance**

The ST_Distance(geometry A, geometry B) calculates the **shortest** distance between two geometries and returns it as a float.

In [43]:
%sql select ST_Distance('POINT(0 0)', 'POINT(0 1)') as Distance;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(1.0,)]

**10. ST_DWithin**

For testing whether two objects are within a distance of one another, the **ST_DWithin** function provides an index-accelerated true/false test.

*ST_DWithin is inclusive*

In [45]:
%sql select ST_DWithin('POINT(0 0)', 'POINT(0 1)', ST_Distance('POINT(0 0)', 'POINT(0 1)')) as DWithin;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(True,)]

**Comments**

* A point does not apply to ST_Crosses and ST_Overlaps
* The boundary of a poly line is defined as its start and end points, not any points on the line
* ST_DWithin is inclusive

https://postgis.gishub.org/chapters/spatial_relationships.html